{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Connexion</h2>

                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                            <h4>Pas encore inscrit ?</h4>
                            <em>
                                please register <br/>
                                to place your order.
                            </em>
                            <br/><br/>
                            <a href="{{ path('fos_user_registration_register') }} " class="btn btn-primary">S'inscrire</a>

                        </div>

                        <div class="span4 offset2">
                            <h4>Connexion</h4>

                            <form action="{{ path("fos_user_security_check") }}" method="post">

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}"
                                       required="required"/>

                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" value="****" required="required"/>

                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    {{ 'security.login.remember_me'|trans }}
                                </label>

                                {% if error %}
                                    <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <input type="submit" id="_submit" class="btn btn-primary" name="_submit"
                                       value="{{ 'security.login.submit'|trans }}"/>

                                <br><br/>


                                <a href="{{ path('fos_user_change_password') }}">Mot de passe perdu ?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}



